<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wah.cloned.core.wechat.dao.mapper.MessageMapper">
    <resultMap id="message" type="org.wah.cloned.core.wechat.entity.Message">
        <id     column="id"              property="id"              javaType="java.lang.String"/>
        <result column="wechat_id"       property="wechatId"        javaType="java.lang.String"/>
        <result column="text"            property="text"            javaType="java.lang.String"/>
        <result column="type"            property="type"            typeHandler="messageTypeHandler"/>
        <result column="send_by_service" property="sendByService"   javaType="java.lang.Boolean"/>
        <result column="create_time"     property="createTime"      javaType="java.util.Date"/>
        <result column="update_time"     property="updateTime"      javaType="java.util.Date"/>
        <association property="service" resultMap="service" columnPrefix="s_"/>
        <association property="friend"  resultMap="friend"  columnPrefix="f_"/>
    </resultMap>

    <resultMap id="service" type="org.wah.cloned.core.service.entity.Service">
        <id     column="id"           property="id"         javaType="java.lang.String"/>
        <result column="username"     property="username"   javaType="java.lang.String"/>
        <result column="name"         property="name"       javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="friend" type="org.wah.cloned.core.wechat.entity.WechatFriend">
        <id     column="id"           property="id"         javaType="java.lang.String"/>
        <result column="nickname"     property="nickname"   javaType="java.lang.String"/>
        <result column="remarkname"   property="remarkname" javaType="java.lang.String"/>
        <result column="head_img_url" property="headImgUrl" javaType="java.lang.String"/>
        <result column="sex"          property="sex"        typeHandler="sexHandler"/>
    </resultMap>

    <sql id="WHERE_COLUMN">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} $criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="save">
        INSERT
          INTO message (
               id,
               wechat_id,
               remarkname,
               service_id,
               text,
               type,
               send_by_service,
               create_time
          ) VALUE (
               #{id,                   jdbcType=VARCHAR},
               #{wechatId,             jdbcType=VARCHAR},
               #{friend.remarkname,    jdbcType=VARCHAR},
               #{service.id,           jdbcType=VARCHAR},
               #{text,                 jdbcType=VARCHAR},
               #{type,                 typeHandler=messageTypeHandler},
               #{sendByService,        jdbcType=BOOLEAN},
               #{createTime,           jdbcType=TIMESTAMP}
          )
    </insert>

    <update id="update">
        UPDATE message
         <set>
             <if test="wechatId != null and wechatId != ''">
                 wechat_id = #{wechatId, jdbcType=VARCHAR},
             </if>
             <if test="text != null">
                 text = #{text, jdbcType=VARCHAR},
             </if>
             <if test="type != null">
                 type = #{type, typeHandler=messageTypeHandler},
             </if>
             <if test="sendByService != null">
                 send_by_service = #{sendByService, jdbcType=BOOLEAN},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=TIMESTAMP},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="getByParams" resultMap="message">
        SELECT m.*,
               s.id           AS s_id,
               s.username     AS s_username,
               s.name         AS s_name,
               f.id           AS f_id,
               f.nickname     AS f_nickname,
               f.remarkname   AS f_remarkname,
               f.head_img_url AS f_head_img_url,
               f.sex          AS f_sex
          FROM message m
     LEFT JOIN service s
            ON s.id = m.service_id
     LEFT JOIN wechat_friend w
            ON w.remarkname = m.remarkname
     LEFT JOIN wechat_friend f
            ON f.remarkname = m.remarkname
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>

    <select id="findByParams" resultMap="message">
        SELECT m.*,
               s.id           AS s_id,
               s.username     AS s_username,
               s.name         AS s_name,
               f.id           AS f_id,
               f.nickname     AS f_nickname,
               f.remarkname   AS f_remarkname,
               f.head_img_url AS f_head_img_url,
               f.sex          AS f_sex
          FROM message m
     LEFT JOIN service s
            ON s.id = m.service_id
     LEFT JOIN wechat_friend w
            ON w.remarkname = m.remarkname
     LEFT JOIN wechat_friend f
            ON f.remarkname = m.remarkname
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    ${group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM message m
     LEFT JOIN service s
            ON s.id = m.service_id
     LEFT JOIN wechat_friend w
            ON w.remarkname = m.remarkname
     LEFT JOIN wechat_friend f
            ON f.remarkname = m.remarkname
        <if test="params != null">
            <include refid="WHERE_COLUMN"/>
        </if>
    </select>
</mapper>