<ol class="breadcrumb">
    <li>
        <span>系统设置</span>
    </li><!-- item -->
    <li>
        <a ui-sref="service">客服管理</a>
    </li><!-- item -->
    <li>
        <span ng-show="service.id">
            修改客服
        </span>
        <span ng-show="!service.id">
            添加客服
        </span>
    </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
    <div class="container-fluid">
        <div class="row-group">
            <div class="input-group">
                <span class="input-group-addon">微信</span>
                <select class="form-control" ng-model="service.wechatId" ng-options="wechat.id as wechat.wxno for wechat in wechats">
                    <option value="">请选择</option>
                </select>
            </div>
        </div><!-- item -->

        <div class="row-group">
            <div class="input-group">
                <span class="input-group-addon">客服名称</span>
                <input type="text" class="form-control" placeholder="微信号" ng-model="service.name">
            </div>
        </div>

        <div class="row-group">
            <div class="input-group">
                <span class="input-group-addon">客服登录名称</span>
                <input type="text" class="form-control" placeholder="客服登录名称" ng-model="service.username">
            </div>
        </div>

        <div class="row-group">
            <div class="input-group">
                <span class="input-group-addon">客服登录密码</span>
                <input type="password" class="form-control" placeholder="客服登录密码" ng-model="service.password">
            </div>
        </div>

        <div class="row-group">
            <div class="button-group">
                <button type="button" class="btn" ng-click="submit()">
                    <i class="fa fa-check"></i>
                    提交
                </button>
                <button type="button" class="btn" ng-click="reset()">
                    <i class="fa fa-close"></i>
                    重置
                </button>
            </div>
        </div><!-- item -->
    </div><!-- container -->
</div><!-- table info -->