<ol class="breadcrumb">
    <li>
        <span>系统设置</span>
    </li><!-- item -->
    <li>
        <a ui-sref="applet">IM应用</a>
    </li><!-- item -->
    <li>
    <span>添加管理员</span>
    </li><!-- item -->
</ol><!-- 面包屑 -->

<div class="table-info">
    <div class="container-fluid">
        <div class="row-group">
            <div class="input-group">
                <span class="input-group-addon">管理员账号</span>
                <input type="text" class="form-control" placeholder="管理员账号" ng-model="identifier">
            </div>
        </div><!-- item -->

        <div class="row-group">
            <div class="button-group">
                <button type="button" class="btn" ng-click="submit()">
                    <i class="fa fa-check"></i>
                    提交
                </button>
                <button type="button" class="btn" ng-click="reset()">
                    <i class="fa fa-close"></i>
                    重置
                </button>
            </div>
        </div><!-- item -->
    </div><!-- container -->
</div><!-- table info -->